
body {
  background-color: rgb(7, 19, 67); 
  margin-top: 40px; 
  padding: 0; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(11, 102, 106);
  color: white;
  padding: 10px 20px;
  margin-left: 250px;
  margin-right: 250px;
}

.logo img {
  width: 80px; 
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  font-family: 'Your Stylish Font', sans-serif;
  padding: 20px;
  color: rgb(53, 162, 159);
  margin: 40px;
  margin-left: 250px;
}

.profile-pic {
  margin-right: 40px;
}

.profile-pic img {
  width: 220px;
  height: auto;
}

.intro-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.intro-text h1 {
  font-size: 20px;
  
}

.intro-text p {
  text-align: left;
  font-size: 16px;
  color: rgb(151, 254, 237);
  
}

.intro-gif{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 40px;
}

.skil{
  color: rgb(151, 254, 237);
  text-align: center;
}

.skills {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  animation: moveLeft 400s linear infinite; /* Adjust the animation duration as needed */
  color: aliceblue;
  size: 1000px;
}


.logo-slider {
  background-color: rgb(11, 102, 106); /* Replace with your desired background color */
  padding: 10px; /* Adjust padding as needed */
  margin: 40px;
  margin-left: 250px;
  margin-right: 250px;
}

.skill-icon {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px; /* Adjust the icon size as needed */
}

/* CSS for Mywork component */
.mywork-gallery {
  display: flex;
  justify-content: center;
  margin: 0 250px; /* Set left and right margins to 250px */
  flex-wrap: wrap;
  
}

.gallery-item {
  margin: 20px;
}

.image-hover {
  transition: transform 0.3s ease-in-out;
}

.image-hover:hover {
  transform: translateY(-5px); /* Lift up the image slightly on hover */
}

.work{
  color: rgb(151, 254, 237);
  text-align: center;
}
.wo{
  color: rgb(151, 254, 237);
  text-align: center;
  font-size: large;
}

.workk{
  color: rgb(151, 254, 237);
  text-align: center;
  margin: 40px;
}

.talkbutt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-color: rgb(151, 254, 237); /* Green background color */
  border: 2px solid #4CAF50; /* Green border color */
  border-radius: 10px; /* Border radius for rounded corners */
  color: rgb(2, 51, 94); /* Text color */
  font-size: 16px; /* Text font size */
  text-align: center;
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition on hover */
  margin-left: 650px;
  margin-bottom: 80px;

}

.talkbutt:hover {
  background-color: white; /* Change background color on hover */
  color: #4CAF50; /* Change text color on hover */
}



.other{
  color: rgb(151, 254, 237);
  text-align: center;
}

